.omise-test-warning {
    background: #ffcc00;
    color: #000;
    font-weight: bold;
    width: 80%;
    position: fixed;
    top: 0;
    left: 10%;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
    border-top: none;
    opacity: 0.85;
    z-index: 100000;
}

.omise-test-warning a, .omise-test-warning a:hover {
    color: #007;
}
